@model ItemViewModel

    <div class="jumbotron">
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("Employee") && Model.Owner == User.Identity.Name)
                {
                    <p>
                        <a class="btn btn-lg btn-danger" role="button" asp-controller="Item"
                           asp-action="Delete" asp-route-id="@Model.Id">Verwijder uit gallerij</a>
                    </p>
                }
            }

            <div class="col-md-4">
                <div>
                    <img src="@Html.DisplayFor(m => Model.ImageUrl)" width="200" height="150" />
                </div>
            </div>
            <div class="col-md-4">
                <p>@Model.Name</p>
                <p>Eigenaar: @Model.Owner</p>
                <p>@Model.Status</p>
                <p>@Model.Type</p>
                <div class="col-md-4">
                    <p>Beschrijving</p>
                    <p>@Model.Description</p>
                    <p>@Model.ImageUrl</p>
                </div>


                @if (Model.Status == "Uitgeleend")
                {
                    <p>Uitgeleend aan: @Model.Borowwer</p>
                    <p>Uitgeleend tot: @Model.Until</p>

                    <p>
                        <a class="btn btn-lg btn-success" role="button" asp-controller="Item"
                           asp-action="Checkin" asp-route-id="@Model.Id">Inleveren</a>
                    </p>
                    <p>
                        <a class="btn btn-lg btn-warning" role="button" asp-controller="Item"
                           asp-action="Hold" asp-route-id="@Model.Id">Reserveer</a>
                    </p>
                    <p>Reserveringen</p>
                    @if (Model.Holds.Any())
                    {
                        @foreach (Hold h in Model.Holds)
                        {
                            <p>Gereserveerd aan: @h.Student.Name</p>
                            <p>Gekozen dagen : @h.chosenDays</p>
                            <p>-------------------------------</p>
                        }
                    }
                    else
                    {<p>Dit object is momenteel door niemand gereserveerd</p>}

                }

                @if (Model.Status == "Beschikbaar")
                {
                    <p>
                        <a class="btn btn-lg btn-info" role="button" asp-controller="Item"
                           asp-action="Checkout" asp-route-id="@Model.Id">Leen</a>
                    </p>
                }

            </div>

        </div>
    </div>