@model StudentViewModel

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Student Details</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>@Model.Name</h2>
                    <h3>@Model.UserName</h3>
                    <div class="">
                        <div>Email Adres: @Model.Email</div>
                        <div>Studierichting: @Model.Major</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Kunst geleend:</h4>
                @if (@Model.Checkouts.Any())
                {
                    <div>
                        <ul>
                            @foreach (var checkout in @Model.Checkouts)
                            {
                                <li>
                                   @checkout.Item.Name
                                    <ul>
                                        <li>
                                            Geleend: @checkout.From
                                        </li>
                                        <li>
                                            Tot : @checkout.Until
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>Momenteel geen Items geleend</div>

                }
            </div>

            <div class="col-md-4">
                <h4>Kunst gereserveerd</h4>
                @if (@Model.Holds.Any())
                {
                    <div>
                        <ul>
                            @foreach (var hold in @Model.Holds)
                            {
                                <li>@hold.Item.Name  @hold.HoldDate.ToString("dd-MM-YY - HH:mm")</li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div>Momenteen geen items gereserveerd</div>
                }
            </div>
        </div>
    </div>
</div>